<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/" title="Go to Index Page">
    <img src="logo.svg">
    <strong>
      Future Academic Research
    </strong>
  </a>
</nav>
