<div class="row">
  <div class="col-sm">
    <div class="page_title">
      <h1>
        Future Academic Research
      </h1>
    </div>
  </div>

  <div class="col-sm">
    <div class="icon_section">
      <a href="/" title="Go to Index Page">
        <svg
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:cc="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           width="100"
           height="90"
           viewBox="0 0 33.866666 33.866668"
           version="1.1"
           id="svg8"
           inkscape:version="0.92.2 5c3e80d, 2017-08-06"
           sodipodi:docname="logo_freehand.svg"
           inkscape:export-filename="/Users/jarvisliu/Desktop/webtechnologies/web_tech_cw/public/logos/logo_freehand.png"
           inkscape:export-xdpi="384"
           inkscape:export-ydpi="384">
          <defs
             id="defs2">
            <inkscape:path-effect
               effect="simplify"
               id="path-effect125"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect121"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect105"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect101"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect97"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect93"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect81"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect73"
               is_visible="true"
               steps="1"
               threshold="0.0363636"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect172"
               is_visible="true"
               steps="1"
               threshold="0.0131818"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect160"
               is_visible="true"
               steps="1"
               threshold="0.0131818"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect132"
               is_visible="true"
               steps="1"
               threshold="0.0131818"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect128"
               is_visible="true"
               steps="1"
               threshold="0.0131818"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
            <inkscape:path-effect
               effect="simplify"
               id="path-effect112"
               is_visible="true"
               steps="1"
               threshold="0.0131818"
               smooth_angles="360"
               helper_size="0"
               simplify_individual_paths="false"
               simplify_just_coalesce="false"
               simplifyindividualpaths="false"
               simplifyJustCoalesce="false" />
          </defs>
          <sodipodi:namedview
             id="base"
             pagecolor="#ffffff"
             bordercolor="#666666"
             borderopacity="1.0"
             inkscape:pageopacity="0.0"
             inkscape:pageshadow="2"
             inkscape:zoom="4"
             inkscape:cx="62.309859"
             inkscape:cy="67.793427"
             inkscape:document-units="mm"
             inkscape:current-layer="layer1"
             showgrid="false"
             units="px"
             inkscape:window-width="1234"
             inkscape:window-height="755"
             inkscape:window-x="46"
             inkscape:window-y="1"
             inkscape:window-maximized="1" />
          <metadata
             id="metadata5">
            <rdf:RDF>
              <cc:Work
                 rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title />
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g
             inkscape:label="Layer 1"
             inkscape:groupmode="layer"
             id="layer1"
             transform="translate(0,-263.13332)">
            <path
               style="fill:none;stroke:#000000;stroke-width:0.25492394px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 4.6305053,269.74765 c 3.7416731,0.12695 7.6818997,-0.26599 11.1901747,1.58978 0.873074,0.46183 1.07853,1.22623 2.256935,0.311 1.414709,-1.09876 3.247715,-1.25735 4.916199,-1.83572 1.771252,-0.61399 3.634773,-0.9956 5.514466,-0.99143"
               id="path110"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect112"
               inkscape:original-d="m 4.6305053,269.74765 c 3.0982448,0.1118 6.8763797,-0.40958 9.8211927,0.86021 1.077764,0.46472 2.07288,1.1809 3.00774,1.85274 0.946009,-1.7856 2.783933,-1.57204 4.296773,-2.1836 2.198034,-0.88853 4.398019,-1.45572 6.752069,-1.45572" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 16.801042,272.12915 c -0.0015,4.68873 0.330586,9.38921 0.01294,14.0662 -0.167973,2.47324 -0.213051,4.95284 -0.211382,7.4312"
               id="path126"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect128"
               inkscape:original-d="m 16.801042,272.12915 c 0,3.57188 0,7.14375 0,10.71563 0,1.18043 0.07854,2.39372 0,3.57187 -0.160035,2.40052 -0.198439,4.7804 -0.198439,7.2099" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.25153628px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 4.5933103,269.7479 c -0.1838746,6.39697 0.532171,12.81711 0.042474,19.19446 -0.087133,1.13474 -1.221693,2.49429 0.9074822,2.58222 2.2203931,0.0917 4.4329475,-0.0258 6.6541325,0.33239 1.555061,0.25076 3.098383,0.96192 4.405201,1.76958"
               id="path130"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect132"
               inkscape:original-d="m 4.5933103,269.7479 c -0.166505,5.11286 0,10.24906 0,15.36481 0,0.62222 0.1479366,3.62736 0,4.12389 -0.19191,0.64413 -0.2378079,2.03844 -0.2378079,2.52754 0.1981732,-0.0665 0.390436,-0.16148 0.5945195,-0.19953 0.4888183,-0.0911 1.1141972,0 1.6052026,0 1.1565082,0 2.3541987,-0.0993 3.5076645,0 0.812045,0.0699 1.630907,0.23229 2.43753,0.33257 0.479582,0.0596 1.29045,0.28952 1.724106,0.53211 0.125888,0.0704 0.199893,0.23097 0.356712,0.26606 0.602801,0.13488 1.850438,0.54873 2.021363,0.9312" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26565611px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 28.518306,268.75406 c -0.360989,1.27548 -0.13215,2.63128 -0.13215,3.94899 0,5.93772 0,11.87543 0,17.81315"
               id="path158"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect160"
               inkscape:original-d="m 28.518306,268.75406 c -0.04405,0.1335 -0.114873,0.26089 -0.13215,0.40053 -0.0919,0.74279 0,1.59093 0,2.33642 0,1.51312 0,3.02623 0,4.53935 0,4.74601 0,9.97473 0,14.48584" />
            <text
               xml:space="preserve"
               style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
               x="6.5484376"
               y="277.88385"
               id="text176"><tspan
                 sodipodi:role="line"
                 id="tspan174"
                 x="6.5484376"
                 y="287.24762"
                 style="stroke-width:0.26458332" /></text>
            <text
               xml:space="preserve"
               style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
               x="6.4822917"
               y="286.01978"
               id="text180"
               inkscape:export-xdpi="812.79987"
               inkscape:export-ydpi="812.79987"><tspan
                 sodipodi:role="line"
                 id="tspan178"
                 x="6.4822917"
                 y="286.01978"
                 style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:14.11111069px;font-family:'Times New Roman';-inkscape-font-specification:'Times New Roman, Italic';stroke-width:0.26458332">R</tspan></text>
            <text
               xml:space="preserve"
               style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
               x="42.333332"
               y="282.51404"
               id="text184"><tspan
                 sodipodi:role="line"
                 id="tspan182"
                 x="42.333332"
                 y="291.87781"
                 style="stroke-width:0.26458332" /></text>
            <text
               xml:space="preserve"
               style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
               x="41.738022"
               y="285.95364"
               id="text188"><tspan
                 sodipodi:role="line"
                 id="tspan186"
                 x="41.738022"
                 y="295.31741"
                 style="stroke-width:0.26458332" /></text>
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 19.182291,274.77499 c 2.474836,-1.09923 4.863336,-2.50916 7.540625,-3.04271"
               id="path71"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect73"
               inkscape:original-d="m 19.182291,274.77499 c 2.094319,-0.91734 4.074593,-2.08077 6.283855,-2.71198 0.466043,-0.13316 0.7783,-0.33073 1.25677,-0.33073" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 19.513021,277.94999 c 1.49979,-0.37017 2.884598,-1.31929 4.394706,-1.97192 0.846118,-0.36567 1.731053,-0.61825 2.616752,-0.87235"
               id="path79"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect81"
               inkscape:original-d="m 19.513021,277.94999 c 0.525439,0 0.283436,0.0681 0.727604,-0.19844 0.293421,-0.17605 0.573075,-0.43142 0.859896,-0.59531 0.660044,-0.37717 1.41197,-0.6273 2.05052,-0.99219 0.296064,-0.16918 0.70275,-0.11987 0.992188,-0.26458 0.720736,-0.36037 1.860918,-0.62031 2.38125,-0.79375" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 18.520833,290.25311 c 2.569109,-0.38465 5.265338,-0.45643 7.672917,-1.52135"
               id="path91"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect93"
               inkscape:original-d="m 18.520833,290.25311 c 2.376556,-0.32397 5.823034,-0.59641 7.672917,-1.52135" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 19.248437,287.27655 c 2.067832,-0.43753 4.09798,-1.05491 6.189427,-1.37212 0,0 0.244875,-0.0581 0.244875,-0.0581 0,0 0.246427,-0.025 0.246427,-0.025"
               id="path95"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect97"
               inkscape:original-d="m 19.248437,287.27655 c 1.926716,-0.37244 3.754699,-1.01504 5.688542,-1.25677 0.344134,-0.043 0.66083,-0.19844 0.992187,-0.19844" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 19.116146,283.96926 c 2.152436,0.24765 4.213147,-0.54628 6.240561,-1.134 0.287318,-0.0833 0.569322,-0.18714 0.837043,-0.32121"
               id="path99"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect101"
               inkscape:original-d="m 19.116146,283.96926 c 1.879957,0.24593 3.581867,-0.57086 5.357812,-0.92604 0.604948,-0.12099 1.175786,-0.25717 1.719792,-0.52917" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 19.513021,280.79426 c 1.674684,0.0588 3.309284,-0.32922 4.890658,-0.9503 0.449956,-0.17672 1.064299,-0.0954 1.393196,-0.50491"
               id="path103"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect105"
               inkscape:original-d="m 19.513021,280.79426 c 1.371168,0.0253 2.822815,-0.0475 4.101041,-0.59532 0.340408,-0.14588 0.894367,-0.46302 1.256771,-0.46302 0.19779,0 0.926042,-0.24067 0.926042,-0.39687" />
            <path
               style="fill:none;stroke:#000000;stroke-width:0.26458332px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
               d="m 16.6026,293.62655 c 2.100091,-0.69113 4.317534,-0.71052 6.427394,-1.39381 1.831045,-0.59299 3.704768,-1.11932 5.47886,-1.84734 0,0 -0.122698,0.1308 -0.122698,0.1308"
               id="path123"
               inkscape:connector-curvature="0"
               inkscape:path-effect="#path-effect125"
               inkscape:original-d="m 16.6026,293.62655 c 1.223277,-0.48379 2.620888,-0.47332 3.902608,-0.79375 0.142991,-0.0358 0.323662,0.0464 0.463021,0 1.313009,-0.43767 2.818017,-0.74356 4.101042,-1.25677 0.777518,-0.31101 1.712983,-0.49999 2.447395,-0.79375 0.243806,-0.0975 0.807321,-0.21201 0.992188,-0.39688 0.04227,-0.0423 -0.09897,0.0759 -0.122698,0.1308"
               inkscape:export-xdpi="384"
               inkscape:export-ydpi="384" />
          </g>
          Sorry, your browser does not support inline SVG.
        </svg>
      </a>
    </div>
  </div>
</div>
