<div class="row">
  <div class="col-sm">
    <div class="page_title">
      <h1>
        Future Academic Research
      </h1>
    </div>
  </div>

  <div class="col-sm">
    <div class="icon_section" title="Go to Dashboard">
      <a href="/dashboard">
        <img src="icon_post.png" class="icon">
      </a>

      <a href="/dashboard" title="Go to Dashboard">
        <img src="icon_feed.png" class="icon">
      </a>

      <a href="/dashboard" title="Go to Dashboard">
        <img src="icon_profile.png" class="icon">
      </a>

      <a>
        <img src="128x128_logo.png" class="icon">
      </a>
    </div>
  </div>
</div>
