<form action='/logout' method='get'>
    <input type="submit" value="Log Out" />
</form><br>

<%= name %>
<%= affiliation %>
<%= position %><br>

<form action='/post' method='post'>
  <label for="contentTextarea">Compose a new post:</label><br>
  <textarea id="contentTextarea" name="content" rows="10" cols="30"></textarea><br>
  <input type="submit" value="Post" />
</form><br>

<a href="/corpus" title="Go to Corpus">Corpus</a><br>
<a href="/dashboard" title="Go to Dashboard">Dashboard</a>
