<div class="protected_banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <form action='/logout' method='get'>
            <label for="logOutInput">Logged in as <%= username %></label>
            <input id="logOutInput" type="submit" value="Log Out" class = "sumbit_button" />
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md protectedbtn" data-href="/">
        <img src="icon-home.svg">
        <strong>Home</strong>
      </div>
      <div class="col-md protectedbtn" data-href="/dashboard">
        <img src="icon-dashboard.svg">
        <strong>Dashboard</strong>
      </div>
      <div class="col-md protectedbtn" data-href="/corpus">
        <img src="icon-corpus.svg">
        <strong>Corpus</strong>
      </div>
      <div class="col-md protectedbtn" data-href="/profile">
        <img src="icon-profile.svg">
        <strong>My Profile</strong>
      </div>
    </div>
  </div>
</div>
