<div class = "main_section">

  <h2 class="page_description">
    You can view all posted research articles here.
  </h2>

  <ul>
    <% corpusFeed.forEach((user) => { %>
    <li>
      <%= user.username %><br>
      <ol>
        <% user.posts.forEach((post) => { %>
        <li>
          <%= post.content %><br>
          Likes: <%= post.likes %><br>
          Dislikes: <%= post.dislikes %><br>
        </li>
        <% }); %>
      </ol>
    </li>
    <% }); %>
  <ul>

</div>
