<div class = "main_section">

  <h2>
    Corpus
  </h2>

  <p class="page_description">You can view all posted research articles here.</p>

  <div>
    <ul>
      <% corpusFeed.forEach((user) => { %>
      <li>
        <%= user.username %><br>
        <ol>
          <% user.posts.forEach((post) => { %>
          <li>
            <article><%= post.content %></article><br>
            Likes: <%= post.likes %><br>
            Dislikes: <%= post.dislikes %><br>
          </li>
          <% }); %>
        </ol>
      </li>
      <% }); %>
    <ul>
  </div>

</div>
