<div class = "main_section">

  <h2 class="page_description">
    You can compose and post a new research article here.
  </h2>
  <% include ../partials/protected-page-banner %>

  <div class = "form_class" >
    <div class="form-group">
      <form action='/logout' method='get'>
        <input type="submit" value="Log Out" class = "sumbit_button" />
      </form>
    </div>
  </div>
</div>
