<div class = "main_section">

  <% include ../partials/protected-page-banner %>

  <h2 class="page_description">
    Dashboard
  </h2>

  <p>You can compose and post a new research article here.</p>

  <div class = "form_class" >
    <form action='/post' method='post'>
      <div class="form-group">
        <label for="contentTextarea"> </label> <br>
        <textarea id="contentTextarea" name="content" rows="14" cols="140"> </textarea><br>
      </div>

      <div class="form-group">
        <input type="submit" value="Post" class = "sumbit_button"/>
      </div>

    </form>
  </div>

</div>
