<% include ../partials/protected-page-banner %>

<h3>Dashboard</h3>

<ol>
  <% posts.forEach((post) => { %>
  <li>
    <%= post.content %><br>
    Likes: <%= post.likes %><br>
    Dislikes: <%= post.dislikes %><br>
  </li>
  <% }); %>
<ol>
