<div class = "main_section">

  <h2>
    Error: <%= errorMessage %>
  </h2>

  <p class="page_description">Please choose one of the following actions:</p>

  <ul>
    <% if(logged==="false"){ %>

    <li>
      <p>
          If you do not have an account, please
          <a href="/signup" title="Sign up for a new account">
            sign up
          </a>
      </p>
    </li>
    <li>
      <p>
          If you have an account but have not logged in, please
          <a href="/login" title="Log into your account">
            login in
          </a>
      </p>
    </li>

    <% } else { %>

    <li>
      <p>
          You can use the navigation bar to visit other pages
          or to alternatively sign out.
      </p>
    </li>

    <% } %>
  </ul>

</div>
