<div class = "main_section">

  <h2 class="page_description">
    An error with the current URL has been detected.
    Please chooce among the following actions.
  </h2>


  <div class = "added_spacing">
    <h3>
      If you do not have an account, please
      <a href="/signup" title="Sign up for a new account">
        sign up
      </a>
    </h3>
  </div>


  <div class = "added_spacing">
    <h3>
      If you have an account but have not logged in, please
      <a href="/login" title="Log into your account">
        login in
      </a>
    </h3>
  </div>


  <div class = "added_spacing">
    <h3>
      If you have logged in, you can use the navigation bar
      on the top right corner of the page to go to other pages,
      or alternatively sign out using the following button:
    </h3>
  </div>


  <div class = "added_spacing">
    <div class = "form_class" >
      <div class="form-group">
        <form action='/logout' method='get'>
          <input type="submit" value="Log Out" class = "sumbit_button" />
        </form>
      </div>
    </div>
  </div>


  <div class = "blank">
  </div>
</div>
