<link type="text/css" rel="stylesheet" href="index.css">

    <div id="heading_BG">
      <div id="heading">

        <h1 id="webname">
          Future Academic Research
        </h1>

        <h2 id="subtitle">
          Research, Educate and Share
        </h2>

        <h3 id="signup">
          <a href="/signup" title="Sign up for a new account">Sign Up</a>
        </h3>

        <h3 id="login">
          <a href="/login" title="Log into your account">Log In</a><br>
        </h3>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="about">
          <h4>
      	     About Us
          </h4>
        <p class="intro">
          Future Academic Research is an academic social networking website dedicated to providing an environment inspiring the free exchange of brilliant academic ideas. We give researchers opportunities to share research papers, carry out academic discussion and online peer view, or even produce teaching material using their own research outcomes and launch to the public.
        </p>
        <p class="intro">
          We believe Future Academic Research will accelerate the distribution of knowledge among all intellectual individuals, thus inspiring equality, creativity and innovation.
        </p>
      </div>
    </div>

      <div class="row">
        <div class="col-sm">
          <h5 class="container_title">
            Post Your Academic Research
          </h5>
          <p class="functionality">
            On Future Academic Research, you can post your academic research and include information
            such as your contact details, research topics, title and content. It allows you to share
            your ideas with the world, and we have made things easier than arXiv.org and Google Scholar.
          </p>
        </div>

        <div class="col-sm">
          <h5 class="container_title">
            View Research Feed
          </h5>
          <p class="functionality">
            The users of our website, typically researchers and students, can view the posts by other people,
            making it simple to get new ideas and understand latest trends in the academic areas that you are
            interested in. You can also set up RSS on our website to receive updates of new content.
          </p>
        </div>

        <div class="col-sm">
          <h5 class="container_title">
            Open-Source Education Platform
          </h5>
          <p class="functionality">
            We further implement the profiles of our users which you can view. On those profiles,
            you will find information such as their institutions, positions, academic areas and
            contact details. We encourage you to go from there and start academic discussions with
            people that have similar research interests.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
