<div class = "main_section">
  <div class = "form_class">
    <form action='/login' method='post'>

      
      <div class="form-group">
        <input type='email' name='email' placeholder="Email" required> <br>
      </div>



      <div class="form-group">
        <input type='password' name='password' placeholder="Password" required> <br>
      </div>




      <div class="form-group">
        <input type='submit' value='Log In' class = "sumbit_button">
      </div>

    </form>
  </div>
</div>
