<div class = "main_section">

  <h2>
    Login
  </h2>

  <% if(noMatch==="true"){ %>
    <div class="alert">
      <span class="closebtn">&times;</span>
      <strong>Login Failed: </strong> Please make sure you provide the correct email and password.
    </div>
  <% } %>

  <p class="page_description">Please login to your registered account.</p>

  <form action='/login' method='post'>

    <div class="form-group">
      <label>
        Registered email address:
      </label>
      <input type='email' name='email' placeholder="" class="form-control" required>
    </div>

    <div class="form-group">
      <label>
        Password:
      </label>
      <input type='password' name='password' placeholder="" class="form-control" required>
    </div>

    <div class="form-group">
      <input type='submit' value='Log In' class = "sumbit_button">
    </div>

  </form>

  <p>
    If you do not have an account, you can click
    <a href="/signup" title="Sign up for a new account">
      here
    </a>
    to sign up.
  </p>
</div>
