<!-- This GDPR Privacy Notice Template is taken from https://gdpr.eu/privacy-notice/ -->

<div class = "main_section">
  <h2>
    Future Academic Research Privacy Policy
  </h2>



  <div>
    <p>
      This privacy policy will explain how our organization uses the personal data
      we collect from you when you use our website.
    </p>
    <p>
      Topics:
    </p>
    <ul>
      <li>
        <a href="#section1">
          What data do we collect?
        </a>
      </li>
      <li>
        <a href="#section2">
          How do we collect your data?
        </a>
      </li>
      <li>
        <a href="#section3">
          How will we use your data?
        </a>
      </li>
      <li>
        <a href="#section4">
          How do we store your data?
        </a>
      </li>
      <li>
        <a href="#section5">
          Marketing
        </a>
      </li>
      <li>
        <a href="#section6">
          What are your data protection rights?
        </a>
      </li>
      <li>
        <a href="#section7">
          What are cookies?
        </a>
      </li>
      <li>
        <a href="#section8">
          How do we use cookies?
        </a>
      </li>
      <li>
        <a href="#section9">
          What types of cookies do we use?
        </a>
      </li>
      <li>
        <a href="#section10">
          How to manage your cookies
        </a>
      </li>
      <li>
        <a href="#section11">
          Privacy policies of other websites
        </a>
      </li>
      <li>
        <a href="#section12">
          Changes to our privacy policy
        </a>
      </li>
      <li>
        <a href="#section13">
          How to contact us
        </a>
      </li>
      <li>
        <a href="#section14">
          How to contact the appropriate authorities
        </a>
      </li>
    </ul>
  </div>



  <div>
    <h4 id="section1">
      What data do we collect?
    </h4>
    <p>
      Future Academic Research collects the following data:
    </p>
    <ul>
      <li>
        Personal identification information (Name, email address, etc.);
      </li>
      <li>
        Information regarding your academic career, including affiliated institution and your position;
      </li>
      <li>
        Research-related information supplied via posts on this website.
      </li>
    </ul>
  </div>



  <div>
    <h4 id="section2">
      How do we collect your data?
    </h4>
    <p>
      We collect your data when you:
    </p>
    <ul>
      <li>
        Register online for our services;
      </li>
      <li>
        Complete a customer survey or provide feedback via email;
      </li>
      <li>
        Use or view our website via your browser’s cookies;
      </li>
      <li>
        Post research article(s).
      </li>
    </ul>
  </div>



  <div>
    <h4 id="section3">
      How will we use your data?
    </h4>
    <p>
      Future Academic Research collects your data so that we can:
    </p>
    <ul>
      <li>
        Process your order and manage your account.
      </li>
      <li>
        Email you with special offers on other products and services we think you might like.
      </li>
      <li>
        [Add how else yFuture Academic Research uses data]
      </li>
    </ul>
    <p>
      If you agree, Future Academic Research will share your data with our partner
      companies so that they may offer you their products and services.
    </p>
    <ul>
      <li>
        [List organizations that will receive data]
      </li>
    </ul>
    <p>
      When Future Academic Research processes your order, it may send your data to,
      and also use the resulting information from, credit reference agencies
      to prevent fraudulent purchases.
    </p>
  </div>



  <div>
    <h4 id="section4">
      How do we store your data?
    </h4>
    <p>
      Future Academic Research securely stores your data at [enter the location and describe security precautions taken].
    </p>
    <p>
      Future Academic Research will keep your [enter type of data] for [enter time period].
      Once this time period has expired, we will delete your data by [enter how you delete users’ data].
    </p>
  </div>



  <div>
    <h4 id="section5">Cookies</h4>
    <p>
      Cookies are text files placed on your computer to collect
      standard Internet log information and visitor behavior information.
      When you visit our websites, we may collect information
      from you automatically through cookies or similar technology
    </p>
    <p>
      For further information, visit allaboutcookies.org.
    </p>
  </div>



  <div>
    <h4 id="section6">How do we use cookies?</h4>
    <p>Future Academic Research uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
      <li>Keeping you signed in</li>
      <li>Understanding how you use our website</li>
      <li>[Add any uses yFuture Academic Research has for cookies]</li>
    </ul>
  </div>



  <div>
    <h4 id="section7">What types of cookies do we use?</h4>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
      <li>Functionality – Future Academic Research uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
      <li>Advertising – Future Academic Research uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Future Academic Research sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
      <li>[Add any other types of cookies yFuture Academic Research uses]</li>
    </ul>
  </div>



  <div>
    <h4 id="section8">
      How to manage cookies
    </h4>
    <p>
      You can set your browser not to accept cookies, and the above website
      tells you how to remove cookies from your browser. However, in a few cases,
      some of our website features may not function as a result.
    </p>
  </div>



  <div>
    <h4 id="section9">
      Privacy policies of other websites
    </h4>
    <p>
      The Future Academic Research website contains links to other websites.
      Our privacy policy applies only to our website, so if you click on a link to
      another website, you should read their privacy policy.
    </p>
  </div>



  <div>
    <h4 id="section10">
      Changes to our privacy policy
    </h4>
    <p>
      Future Academic Research keeps its privacy policy under regular review
      and places any updates on this web page. This privacy policy
      was last updated on 20 April 2019.
    </p>
  </div>



  <div>
    <h4 id="section11">
      How to contact us
    </h4>
    <p>
      If you have any questions about the privacy policy of Future Academic Research
      the data we hold on you, or you would like to exercise one of
      your data protection rights, please do not hesitate to contact us.
    </p>
    <p>
      Email us at: jl15941@my.bristol.ac.uk
    </p>
  </div>



  <div>
    <h4 id="section12">
      How to contact the appropriate authority
    </h4>
    <p>
      Should you wish to report a complaint or if you feel that
      Future Academic Research has not addressed your concern in a satisfactory manner,
      you may contact the Information Commissioner’s Office.
    </p>
  </div>
</div>
