<!-- This Temrs of Service document is arranged from
https://twitter.com/tos and https://gdpr.eu/terms-and-conditions/ -->

<div class = "main_section">
  <div class = "justify_alignment">
    <h2>
      Future Academic Research Privacy Policy
    </h2>



    <div>
      <h2>
        Terms of Service
      </h2>
      <p>
        The following terms and conditions govern all use of the Future Academic Research website
        and all services available at the website (the &#8220;Website&#8221;)
        and any information, text, links, graphics, photos or other materials or arrangements of
        materials uploaded, downloaded or appearing on the Website (the &#8220;Content&#8221;).
        The Website is offered subject to your acceptance without modification of all the terms
        and conditions contained herein and all other operating rules, policies and procedures
        that may be published from time to time on the Website (the &#8220;Agreement&#8221;).
      </p>
      <p>
        Please read this Agreement carefully before accessing or using the Website. By accessing
        or using any part of the Website, you agree to become bound by the terms and conditions of
        this Agreement. If you do not agree to all the terms and conditions of this Agreement, then
        you may not access the Website or use any services.
      </p>
    </div>



    <div>
      <h2>
        Content of the Website
      </h2>
      <p>
        You are responsible for your use of the Website and for any Content you provide,
        including compliance with applicable laws, rules, and regulations. You should only
        provide Content that you are comfortable sharing with others.
      </p>
      <p>
        Any use or reliance on any Content or materials posted via the Website or obtainedby you
        through the Website is at your own risk. The Company does not endorse, support, represent
        or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or
        communications posted via the Website or endorse any opinions expressed via the Website.
      </p>
      <p>
        There are some instances where Content will be edited or deleted as follows:
      </p>
      <ul>
        <li>
          Content deemed to be spam or solely promotional in nature will be deleted. Including
          a link to relevant Content is permitted, but it should be relevant to the Content topic.
        </li>
        <li>
          Content including profanity will be deleted.
        </li>
        <li>
          Content containing language or concepts that could be deemed offensive will be deleted.
          This may include abusive, threatening, pornographic, offensive, misleading or libelous language.
        </li>
        <li>
          Content that harass other posters will be deleted. Please be respectful toward other contributors.
        </li>
      </ul>
    </div>



    <div>
      <h2>
        Privacy
      </h2>
      <p>
        Our
        <a href="/privacy" title="Go to Privacy Policy">
          Privacy Policy
        </a>
        explains the way we handle and protect your personal data in relation to
        your use and browsing of the Website. By agreeing to the present Terms of Service
        and to be able to use the Website, you also agree to our
        <a href="/privacy" title="Go to Privacy Policy">
          Privacy Policy
        </a>
        .
      </p>
    </div>



    <div>
      <h2>
        Modification to Terms of Service
      </h2>
      <p>
        Within the limits of applicable law, the Company reserves the right to review
        and change this Agreement at any time. You are responsible for regularly reviewing
        these terms of service. Continued use and browsing of the Website after such changes
        shall constitute your consent to such changes.
      </p>
    </div>



    <div>
      <h2>
        Applicable Law
      </h2>
      <p>
        This Agreement shall be governed in all respects by the substantive laws of
        the United Kingdom. Any controversy, claim, or dispute arising out of or
        relating to the Agreement shall be subject to the jurisdiction of
        the competent courts of the United Kingdom.
      </p>
      <p>
        Last modified: 20 April 2019
      </p>
    </div>
  </div>
</div>
