.page_header{
  height: 10%;
	padding-left: 5%;
  padding-right: 5%;
	padding-top: 2.5%;
  padding-bottom: 2.5%;
	width: 60%;
}

.title_and_des{
	width: 100%;
}

.icon_section{
	margin-bottom: 3%;
}

.icon{
	height:	3%;
	width: 3%;
	margin-left: 5%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

h1{
	font-family: helvetica;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 500;
}

h2{
	font-family: helvetica;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
}

.post{
  height: 120%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}


.submit{
  height: 10%;
  background-color: #306EFF;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: none;
}


.cancel{
  height: 10%;
  background-color: red;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: none;
}

.footer{
	padding-top: 1.5%;
	font-size: 0.8em;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8%;
	color: #000000;
	background-color: #DDDDDD;
	text-align: center;
	vertical-align: middle;
}
