textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
	height: 100%;
}

.icon{
	height:	10%;
	width: 10%;
	margin: 5%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.main_section{
	margin: 5%;
}

.page_description{
	margin-bottom: 3%;
}


.sumbit_button{
  height: 10%;
  background-color: #306EFF;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: none;
}

.delete_button{
  height: 10%;
  background-color: red;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
	margin-left: 1%;
  border: none;
}

footer{
	padding-top: 2.4%;
	font-size: 0.8em;
	left: 0;
	width: 100%;
	height: 1.2%;
	color: #000000;
	background-color: #DDDDDD;
	text-align: center;
	vertical-align: middle;
}
