.row{
	padding-top: 2%;
}

.page_title{
	margin: 6.5%;
	margin-left: 10%;
}

.icon_section{
	margin-left: 30%;
	padding-top: 3%;
}

.icon{
	height:	8%;
	width: 8%;
	margin: 5%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

h1{
	font-family: helvetica;
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 500;
}

h2{
	font-family: helvetica;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 400;
}

.login_form{
  height: 50%;
	line-height: 1.5em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.sumbit_button{
  height: 10%;
  background-color: #306EFF;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: none;
}

.cancel{
  height: 10%;
  background-color: red;
  color: white;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: none;
}

.footer{
	padding-top: 2%;
	font-size: 0.8em;
	left: 0;
	width: 100%;
	height: 1%;
	color: #000000;
	background-color: #DDDDDD;
	text-align: center;
	vertical-align: middle;
}
